<c-sidebar visible fixed="true" color="dark" minimizeWidth="none" class="min-vh-100">
  <c-sidebar-brand>
    <c-avatar size="lg" class="me-3"
    src="../../../assets/img/Universidad-Tecnologica-de-Aguascalientes.jpg.crdownload"></c-avatar>
    <span class="text-noLight">SITO</span>
  </c-sidebar-brand>
  <c-sidebar-nav [navItems]="navItems" dropdownMode="close"></c-sidebar-nav>
  <c-sidebar-toggler></c-sidebar-toggler>
</c-sidebar>

<div class="c-wrapper">
  <div class="c-body">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
  </div>
</div>