.options p, button, table tbody tr, table thead tr {
    font-size: 13px;
}

button svg {
    vertical-align: middle;
}

label, .periody-form option, .periody-form select, .periody-form input {
    font-size: 14px;
}

.select-periody {
    width: 200px;
    display: inline;
    font-size: 14px;
}