table thead tr, table tbody tr, table tfoot tr {
    font-size: 13px;
}

.c-header span {
    font-size: 14.5px;
}
.card-header span {
    font-size: 13.5px;
}

.info td, .info th { font-size: 13px; }