.icon { 
    background-color: #d8d8e0;
    padding: 6px 12px;
}
.icon i {
    vertical-align: middle;
}

span, p {
    font-size: 15px !important;
}

.card {
    width: 650px;
}

.form-control {
    border-radius: 0 0.375rem 0 0 !important;
}

.bg-fondo {
    background-image: url('../../../assets/img/fondo-uta.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-footer {
    background-color: rgba(26, 26, 26, 0.5);
    color: #fff;
    padding: 10px;
}
.btn-purple, .bg-purple { 
    background-color: #7240cc;
    color: #ffffff;
}
.text-info {
    color: #0077aa !important;
}