<c-header>
  <c-container fluid>
    <c-header-brand [routerLink]="['/']" class="text-title">
      UNIVERSIDAD TECNOLOGICA DE AGUASCALIENTES
    </c-header-brand>
    <c-header-nav class="ms-auto">
      <c-nav-item class="me-2">
        <c-avatar
          cTextColor="primary"
          shape="rounded"
          size="md"
          src="assets/img/perfil.jpeg"
          status="success"
        ></c-avatar>
      </c-nav-item>
      <c-nav-item>
        <a cNavLink [routerLink]="['/login']">Cerrar sesion</a>
      </c-nav-item>
    </c-header-nav>
  </c-container>
</c-header>